@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Uncial Antiqua', cursive;
}

.student-table img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 3px;
}

.student-form label img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
}

.student-form input[type="file"] {
    display: none;
}

.preload_photo {
    max-width: 100%;
}

.student-single {
    text-align: center;
}

.student-single img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 50px auto;
}